$S: 508px;
$M: 754px;
$L: 1054px;
$XL: 1300px;
@import '../../node_modules/coriolan-ui/mixins/media';
@import '../../node_modules/coriolan-ui/mixins/clearfix';

.header {
    padding: 20px 10px;
    background: #dedede;
    position: relative;
    letter-spacing: 2.5px;
    font-size: 10px;
}

.homepage {
    text-align: center;
    // padding: 40px 0;
    max-width: 666px - 444px;
    margin: 0 auto;
    // background-position: top center;
    // background-repeat: no-repeat;
    // background-image: url(bgPlane.jpg);
    // background-image: url(bgManufactory.jpg);
    // background-attachment: fixed;
    // background-size: cover;
    // background-color: #3c291d;
    position: relative;
    z-index: 20;
    cursor: pointer;

    &__svg {
        display: block;
        width: 100%;
        height: auto;
    }
}
