@import '../../node_modules/coriolan-ui/tools/variables';
@import '../../node_modules/coriolan-ui/mixins/media';

.header {
    background: rgba(#000, .1);
    display: flex;

    &__link {
        position: relative;
        display: block;
        text-decoration: none;
        text-align: center;
        color: #fff;
        font-size: 14px;
        width: 50%;
        line-height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;

        @include media(S) {
            font-size: 18px;
        }
    }

    &__logo {
        width: auto;
        max-height: 24px;
        vertical-align: middle;

        @include media(S) {
            max-height: 30px;
        }
    }
}
