html {
    height: 100%;
}

body {
    height: 100%;
}

#react-mount {
    height: 100%;
}

.flex-sticky {
    // padding-top: 90px;
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    flex-direction: column;

    &__content {
        flex: 1;
    }

    &__footer {
    }
}

