@import '../../node_modules/coriolan-ui/tools/variables';
@import '../../node_modules/coriolan-ui/mixins/clearfix';
@import '../../node_modules/coriolan-ui/mixins/media';

.page {
    padding: 60px 10px 0;
    @include clearfix;

    @include media(M) {
        padding: 120px 20px 0;
    }

    &__content {
        background: #fff;
        text-align: center;
        padding: 70px 10px;
        max-width: 666px;
        border-radius: 4px;
        box-shadow: 0 2px 20px rgba(#000, .19);
        margin: 0 auto;
    }
}
