@import '../../node_modules/coriolan-ui/mixins/clearfix';

.page {
    padding: 10px 10px 30px;
    text-align: left;
    max-width: 666px;
    margin: 0 auto;
    @include clearfix;

    &__content {

        h1 {
            margin-top: 0;
        }
    }
}
