@import '../../node_modules/coriolan-ui/tools/variables';
@import '../../node_modules/coriolan-ui/mixins/clearfix';
@import '../../node_modules/coriolan-ui/mixins/media';

.page {
    padding: 60px 10px 0;
    @include clearfix;

    @include media(M) {
        padding: 120px 20px 0;
    }

    &__content {
        background: #fff;
        text-align: center;
        padding: 65px 10px;
        max-width: 666px;
        border-radius: 4px;
        box-shadow: 0 2px 20px rgba(#000, .19);
        margin: 0 auto;

        @include media(M) {
            padding: 95px 10px;
        }
    }

    &__logo {
        width: 114px;
        margin-bottom: 35px;
    }

    &__mailto {
        position: relative;
        font-size: 18px;
        color: #20242c;
        text-decoration: none;
        padding: 1em 2em;

        @include media(M) {
            font-size: 20px;
        }

        &:hover {
            // text-decoration: underline;
        }
    }
}
