$S: 508px;
$M: 754px;
$L: 1054px;
$XL: 1300px;
@import '../../node_modules/coriolan-ui/mixins/media';
@import '../../node_modules/coriolan-ui/mixins/clearfix';

.title {
    padding: 12px 10px;
    background: #dedede;
    position: relative;
    letter-spacing: 2.5px;
    font-size: 12px;
    font-weight: 400;
}

.homepage {
    @include clearfix;
    text-align: center;
    width: 100%;
    max-width: 666px;
    margin: 0 auto;
    position: relative;
    z-index: 20;

    &__bbqlogo {
        max-width: 80px;
        margin: 20px auto 40px;
    }

    &__contacts {
        font-size: 10px;
    }

    &__svg {
        float: left;
        display: block;
        width: 100% !important;
        height: auto !important;
    }
}

.slogan {
    letter-spacing: 2.5px;
    font-size: 12px;
    font-weight: 400;
}
