@import '../../node_modules/coriolan-ui/tools/variables';
@import '../../node_modules/coriolan-ui/mixins/media';
// @import '../../node_modules/coriolan-ui/mixins/clearfix';

.homepage {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 20;

    @include media(L) {
        padding-top: 120px;
    }

    &__morph {
        display: block;
        width: 100%;
        height: auto;
        max-width: 444px;
        margin: 0 auto;
    }

    &__slogan {
        //letter-spacing: 2.5px;
        font-size: 36px;
        color: #fff;
        font-weight: 300;
        padding: 0 20px;

        @include media(M) {
            font-size: 60px;
        }
    }
}
